<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://thanhtrieu-001-site1.etempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5148.site4now.net:8172/msdeploy.axd?site=thanhtrieu-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>thanhtrieu-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>thanhtrieu-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QLDienThoaiEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5097.site4now.net;Initial Catalog=db_aa2a88_login;Persist Security Info=True;User ID=db_aa2a88_login_admin;Password=P@ssd310502" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Web_dienthoai.Models.QLDienThoaiEntities, Web-dienthoai" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="QLDienThoaiEntities1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(local);Initial Catalog=QLDienThoai;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLDienThoaiEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.PhoneStore.csdl|res://*/Models.PhoneStore.ssdl|res://*/Models.PhoneStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=QLDienThoai;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLDienThoaiEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="QLDienThoaiEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.PhoneStore.csdl|res://*/Models.PhoneStore.ssdl|res://*/Models.PhoneStore.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5097.site4now.net;Initial Catalog=db_aa2a88_login;Persist Security Info=True;User ID=db_aa2a88_login_admin;Password=P@ssd310502"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>